*{
	box-sizing: border-box;
}

#icon-bar {
	background-color: lightblue;
	height: 50px;
}
/*Window layout for site*/
.column {
	float: left;
	padding: 10px;
}

.column.side {
	width:30%;
}

.column.middle {
	width: 60%;
	opacity: 1;
}

.row:after {
	content: "";
	display: table;
	clear: both;
	z-index: -1;
}
/*page layout for responsiveness*/
@media screen and (max-width: 500px) {
	.column.side, .column.middle {
		width: 100%;
		overflow-wrap: break-word;
	}
	.column.side{
		height: auto;
	}
}

/*Sidenav and it contents only*/
/*first sidenav background styling*/
.block01 {
	margin-top: 15px;
	padding: 20px;
	background-color: #ffdab9;
	border-radius: 4px;
}
/*Styling sidenav buttons*/
.b {
	background-color: #483d8b;
	line-height: 0.25;
	width: 100%;
	height: 50px;
	color: white;
	font-family: optimusprinceps;
	font-weight: bolder;
	font-size: 18px;
	user-select: none;
}

.b.active{
	background-color: grey;
}

.b:hover{
	background-color: #BBB;
	cursor:pointer;
	border: 2px solid white;
}
/*All middle column content styling*/
/*first middle content*/
.insider {
	background-color: black;
	border-radius: 4px;
	color: black;
	font-weight: bold;
	font-size: 15px;
	margin-top:15px;
	padding: 20px;
	display: block;
}
/*styling the questions background*/
.on {
	background-color: #dcdcdc;
	border-radius: 6px;
	line-height: 1;
	margin: 10px 20px 10px 20px;
	padding: 15px;
}
.circle {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: #ccc;
	border: 1px solid silver;
}
/*QUESTION NUMBER STYLING
/*styling number on each question tab
.num {
	float: right;
	top: 0;
	right: 0;
	color: darkslateblue;
	font-family: Bernard MT Condensed;
	font-size: 18px;
	font-weight: bolder;
}
/*Mark the question number that has been answered
.num.finish.valid {
	color: green,
}

/*Mark the question number that*
.num.finish.invalid {
	color:red;
}

/*QUESTION ANSWER RESPONSE*/
/*Mark input radio that get an invalid answer on validation*
input.invalid {
	background-color: red;
}

/*Mark input radio that get a valid answer on validation*
input.valid {
	background-color: green;
}
/*styling buttons*
.clearfix::after {
	content:"";
	display: table;
	clear: both;
}
/*styling the form submit button*
.clearfix button {
	font-family: Bernard MT Condensed;
	font-size: 18px;
	background-color: lightsteelblue;
	color: black;
	border-radius: 6px;
	height: 50px;
	padding: 10px;
	font-stretch: 10px;
	width: 25%;
	margin: 0px 20px 0px 20px;
}
.cancel {
	float: right;
	right: 0;
}
#submit:hover {
	background-color: green;
	color: white;
	cursor: pointer;
}
/*styling the form cancel button*
.cancel:hover {
	background-color: red;
	color: white;
	cursor: pointer;
}
.t{
	display: none;
}
/*will display score after quiz is submitted*
.score{
	display: none;
	background-color: white;
	font-family: optimusprinceps;
	font-weight: bold;
	text-align: center;
	border-radius: 8px;
}*/